.Search {
    padding: 10px;
}

.Search input {
    width: 70%;
    height: 50px;
    padding: 0px 16px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
}